:root {
  --dark-blue: #110f2a ;
  --blue: #524dd0;
  --cyan: #00ffec;
  --grey: #f7f7f7;
  --gradient: linear-gradient(to right, #524dd0, #84389e);
  --white: #fff;
  --black: #000;
  --text-color: #110f2a ;
  --cta-color: linear-gradient(to right, #524dd0, #84389e);
  --background-blue: 17, 15, 42;
  --selection: #84389e;
}


* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  color: var(--text-color);
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6.25rem;
  text-align: center;
}

h2 {
  font-size: 3.125rem;
  font-weight: 600;
  text-align: center;
}

p {
  line-height: 1.4;
  margin: 0.4em 0 1em 0;
  font-size: 1.1875rem;
}

button {
  margin-top: 1.5em;
  font-size: 1.1875rem;
  font-weight: 500;
  color: var(--white);
  width: max-content;
  padding: 0.8em 3em;
  background-image: var(--cta-color);
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

button:hover {
  color: var(--blue);
  background: white;
  box-shadow: inset 0px 0px 0px 2px var(--blue);
}

.prev-button

.next-button {
  margin-left: auto; 
  margin-right: 10em;
}

.style-h2 {
  font-size: 3.125rem;
  font-weight: 600;
}

.smartzones>h1 {
  margin: 1em 0 0.8em 0;
}

table {
  margin-left: auto; 
  margin-right: 0;
  font-size: 1.1875rem;
  text-align: left;
  width: 80%;
  border-collapse: separate;
  border-spacing: 2px;
  background-color: var(--dark-blue);
}

th {
  padding: 1em;
  color: var(--text-color);
  background-color: var(--white);
}

td {
  padding: 1em;
  color: var(--text-color);
  background-color: var(--white);
}

img {
  height: 31.875em;
}

.crud-form>h2 {
  margin: 1em 0 0.8em 0;
}

form {
  margin: 0 auto;
  width: min-content;
  padding: 4em 6em;
  background-color: var(--grey);
}

form label {
  display: block;
  font-size: 1.1875rem;
  margin-top: 0.4rem;
}

form input,
form textarea {
  margin-bottom: 0.5em;
  padding: 0.7em;
  font-size: 1.1875rem;
  width: 30em;
  border: 2px solid var(--dark-blue);
}

form input:focus {
  outline: none;
  border: 2px solid var(--blue);
}

button[type=submit] {
  margin-right: 1em;
}

article {
  background-color: var(--blue);
  padding: 2rem;
  color: var(--white);
}

@media (min-width: 70em) {
  /* main { 
    padding: 5em;
  } */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 100em) {
}